<table width='30%' cellpadding='5' style='border: 1px solid gray'>
		
	<tr>
		<th colspan='2'><h3>{=name}</h3></th>
	</tr>
		
	{:if workphoneNotNull}
	<tr>
		<td width='40%'>Workphone:</td>
		<td>{=workphone}</td>
	</tr>
	{/:if}
		
	{:if homephoneNotNull}
	<tr>
		<td>Homephone:</td>
		<td>{=homephone}</td>
	</tr>
	{/:if}
		
	{:if cellphoneNotNull}
	<tr>
		<td>Cellphone:</td>
		<td>{=cellphone}</td>
	</tr>
	{/:if}
	
	{:if faxNotNull}
	<tr>
		<td>Fax:</td>
		<td>{=fax}</td>
	</tr>
	{/:if}
		
	{:if companyNotNull}
	<tr>
		<td>Company:</td>
		<td>{=company}</td>
	</tr>
	{/:if}
		
</table>
<br/><br/>

	

