<div class='historyCall'>
{:if emptyHistoryCall}
	<div>Sorry, but the history call is empty.</div>
{:else}
	{:if once}
	<div class='tr headerHistoryCall'>
		<span class='td' style='width: 300px'>Call date</span>
                <span class='td' style='width: 100px'>Client id</span>
                <span class='td' style='width: 60px'>Source</span>
                <span class='td' style='width: 90px'>Destination</span>
                <span class='td' style='width: 70px'>dcontext</span>
                <span class='td' style='width: 100px'>Channel</span>
                <span class='td' style='width: 100px'>Dst channel</span>
                <span class='td' style='width: 100px'>lastapp</span>
                <span class='td' style='width: 100px'>Last data</span>
                <span class='td' style='width: 100px'>Duration</span>
                <span class='td' style='width: 100px'>Bill sec</span>
                <span class='td' style='width: 100px'>Disposition</span>
                <span class='td' style='width: 100px'>amaflags</span>
                <span class='td' style='width: 100px'>Account code</span>
                <span class='td' style='width: 100px'>Unique id</span>
                <span class='td' style='width: 100px'>User field</span>
	</div>
	{:else}
	<div class='tr smaller historyCallRecord'>
		<span class='td' style='width: 300px'>{=calldate}</span>
		<span class='td' style='width: 100px'>{=clid}</span>
		<span class='td' style='width: 60px'>{=src}</span>
		<span class='td' style='width: 90px'>{=dst}</span>
		<span class='td' style='width: 70px'>{=dcontext}</span>
		<span class='td' style='width: 100px'>{=channel}</span>
		<span class='td' style='width: 100px'>{=dstchannel}</span>
		<span class='td' style='width: 100px'>{=lastapp}</span>
		<span class='td' style='width: 100px'>{=lastdata}</span>
		<span class='td' style='width: 100px'>{=duration}</span>
		<span class='td' style='width: 100px'>{=billsec}</span>
		<span class='td' style='width: 100px'>{=disposition}</span>
		<span class='td' style='width: 100px'>{=amaflags}</span>
		<span class='td' style='width: 100px'>{=accountcode}</span>
		<span class='td' style='width: 100px'>{=uniqueid}</span>
		<span class='td' style='width: 100px'>{=userfield}</span>
	</div>
	{/:if}
{/:if}
</div>

	

