{:if customerNotInDB}
<table width="50%" cellpadding="5" style="border: 1px solid gray">
	<tr>
		<td><h3>{=from}</h3></td>
	</tr>
	<tr>
		<td>Sorry, no data in the database.</td>
	</tr>
</table>
{:else}
<table class='contactsVCard' width="50%" cellpadding="5" style="border: 1px solid gray">
	<tr>
		<td colspan="4"><h3>{=name}</h3></td>
	</tr>
	<tr>
		<td width='40%'>Id:</td>
		<td>{=id}</td>
	</tr>
	<tr>
		<td>Owner id:</td>
		<td>{=owner_id}</td>
	</tr>
	<tr>
		<td>Type:</td>
		<td>{=type}</td>
	</tr>
	<tr>
		<td>Home e-mail:</td>
		<td>{=homeemail}</td>
	</tr>
	<tr>
		<td>Work e-mail:</td>
		<td>{=workemail}</td>
	</tr>
	<tr>
		<td>Home phone:</td>
		<td><a href='#'>{=homephone}</a></td>
		<td><img class='click2call' src='{=server_address}/template/images/call-start.png'/></td>
	</tr>
	<tr>
		<td>Work phone:</td>
		<td><a href='#'>{=workphone}</a></td>
		<td><img class='click2call' src='{=server_address}/template/images/call-start.png'/></td>
	</tr>
	<tr>
		<td>Cell phone:</td>
		<td><a href='#'>{=cellphone}</a></td>
		<td><img class='click2call' src='{=server_address}/template/images/call-start.png'/></td>
		<td><img class='click2sms' src='{=server_address}/template/images/sms-text.png'/></td>
	</tr>
	<tr>
		<td>Fax:</td>
		<td>{=fax}</td>
	</tr>
	<tr>
		<td>Title:</td>
		<td>{=title}</td>
	</tr>
	<tr>
		<td>Company:</td>
		<td>{=company}</td>
	</tr>
	<tr>
		<td>Notes:</td>
		<td>{=notes}</td>
	</tr>
	<tr>
		<td>Name:</td>
		<td>{=name}</td>
	</tr>
	<tr>
		<td>Home street:</td>
		<td>{=homestreet}</td>
	</tr>
	<tr>
		<td>Home pob:</td>
		<td>{=homepob}</td>
	</tr>
	<tr>
		<td>Home city:</td>
		<td>{=homecity}</td>
	</tr>
	<tr>
		<td>Home province:</td>
		<td>{=homeprovince}</td>
	</tr>
	<tr>
		<td>Home postal code:</td>
		<td>{=homepostalcode}</td>
	</tr>
	<tr>
		<td>Home country:</td>
		<td>{=homecountry}</td>
	</tr>
	<tr>
		<td>Work street:</td>
		<td>{=workstreet}</td>
	</tr>
	<tr>
		<td>Work pob:</td>
		<td>{=workpob}</td>
	</tr>
	<tr>
		<td>work city:</td>
		<td>{=workcity}</td>
	</tr>
	<tr>
		<td>Work province:</td>
		<td>{=workprovince}</td>
	</tr>
	<tr>
		<td>Work postal code:</td>
		<td>{=workpostalcode}</td>
	</tr>
	<tr>
		<td>Work country:</td>
		<td>{=workcountry}</td>
	</tr>
	<tr>
		<td>URL:</td>
		<td class='click2url'>{=url}</td>
	</tr>
</table>
{/:if}

	

