<div id='date'></div><div style='clear: both'> </div>
{:if customerNotInDB}
<table width="50%" cellpadding="5" style="border: 1px solid gray"><tr><td><h3>{=from}</h3></td></tr> <tr><td>Spiacente, nessun dato presente.</td></tr></table>
{:else}
{:r default}
<div class="contactsVCard">
        <div class='logo click2cc' style='float: left'>
                {:if name}
                <img src="{=server_address}/template/images/contact.png"/>
                {:else}
                <img src="{=server_address}/template/images/company.png"/>
                {/:if}
        </div>
                {:if name}
                <div class='name'>{=name}
                        {:if title}     <div class='title'>{=title} {=type}</div>  {/:if}
                </div>
                {/:if}

                {:if company}
                        {:if name}
                        <div class='company'> {=company}</div>
                        {:else}
                        <div class='name'> {=company}</div>
                        {/:if}
                {/:if}

                <div class='numbers'>
                {:if workphone}
                <div class='label tr'><span class='value td'><img src="{=server_address}/template/images/phone.png" title='Telefono Ufficio' alt='Telefono Ufficio'/></span> <span class='td'><a href='#' class='click2call' data-prefix='{=prefix}'>{=workphone}</a> <a href='#'></a></span></div>
                {/:if}

                {:if cellphone}
                <div class='label tr'><span class='value td'><img src="{=server_address}/template/images/mobile.png" title='Cellulare' alt='Cellulare'/></span> <span class='value td'><img src="{=server_address}/template/images/sms.png" class="click2sms cursorPointer" title='Invia SMS' data-num='{=cellphone}' alt='SMS'/></span><span class='td'><a href='#' class='click2call' data-prefix='{=prefix}'>{=cellphone}</a></span></div>
                {/:if}

                {:if homephone}
               <div class='label tr'><span class='value td'><img src="{=server_address}/template/images/phone.png" title='Telefono Casa' alt='Telefono Casa'/></span> <span class='td'><a href='#' class='click2call' data-prefix='{=prefix}'>{=homephone}</a></a></span></div>
                {/:if}
                {:if fax}
                <div class='label tr'><span class='value td'><img src="{=server_address}/template/images/fax.png" title='Fax' alt='Fax'/></span> <span class='td'><a href='#' class='click2fax'>{=fax}</a></span></div>
                {/:if}
                </div>         

                {:if workemail} 
                <div class='numbers'> 
                        <div class='label tr'><span class='value td'><img src="{=server_address}/template/images/mail.png" title='Email' alt='Email'/></span> <span class='td'><a href='mailto:{=workemail}'>{=workemail}</a></span>
                        </div>
                </div>
                {/:if}

                {:if workstreet } <div class='numbers'> <div class='label' style="margin-top: 5px">Ufficio <a href='http://maps.google.it/maps?q={=workcity}, {=workstreet} ({=workprovince}) - {=workpostalcode}' target='_blank'><img src='{=server_address}/template/images/map.png' title='Cerca su Google Maps'/></a></div> <div class='address'> {=workcity}, {=workstreet} ({=workprovince}) - {=workpostalcode}</div> </div>
                {/:if}
                {:if homestreet }  <div class='numbers'> <div class='label' style="margin-top: 5px">Casa <a href='http://maps.google.it/maps?q={=homecity}, {=homestreet} ({=homeprovince})' target='_blank'><img src='{=server_address}/template/images/map.png' title='Cerca su Google Maps'/></a></div> <div class='address'> {=homecity}, {=homestreet} ({=homeprovince}) </div> </div>
                {/:if}

                {:if url }
                <div class='numbers'>
                        <span class=''>Sito:</span> <a href='{=url}'>{=url}</a>
                </div>
                {/:if}

</div>
{/:r}

{:s chiamate}
<div id='cdr' class='flatTable'>
<div class='name'>Ultime chiamate</div>
<table>
<tr><th>Data</th><th>Ora</th><th>Durata</th><th>Sorgente</th><th/><th>Destinazione</th></tr>
{:r .}
  <tr><td>{=date}</td><td>{=time}</td><td>{=billsec}</td><td>{=clid}</td><td><img src="{=server_address}/template/images/out.png" title='Direction' alt='Direction'/></td><td>{=dst}</td></tr>
{/:r}
</table>
</div>
{:e}

{/:s}
{/:if}

{:s ticket}
<div id='ticket'  class='flatTable'>
<div class='name'>Ultimi Ticket OTRS</div>
<table>
<tr><th>Creazione</th><th>Risposta</th><th>Operatore</th><th>Cliente</th><th>Stato</th><th>Assistenza</th></tr>
{:r .}
  <tr><td>{=c_time}</td><td>{=m_time}</td><td>{=gestore}</td><td>{=first_name}</td><td>{=stato}</td><td>{=lp}</td></tr>
{/:r}
</table>
</div>
{:e}

{/:s}

{:s insoluti}
<div id='insoluti'  class='flatTable'>
<div class='name'>Situazione Contabile Business</div>
<table>
<tr><th>Cliente</th><th>PIVA</th><th>Data</th><th>Num</th><th>Causale</th><th>D-A</th><th>Importo</th><th>Dare</th><th>Avere</th></tr>
{:r .}
  <tr><td>{=an_descr1}</td><td>{=an_pariva}</td><td>{=pn_datreg}</td><td>{=pn_numreg}</td><td>{=pn_causale}</td><td>{=pn_darave}</td><td>{=pn_importo}</td><td>{=pn_dare}</td><td>{=pn_avere}</td></tr>
{/:r}
</table>
</div>
{:e}

{/:s}


{:s trattative}
<div id='trattative'  class='flatTable'>
<div class='name'>Trattative vTiger</div>
<table>
<tr><th>Cliente</th><th>Opportunità</th><th>Importo</th><th>Chiusura</th><th>Prox.Azione</th><th>%</th><th>Stato</th><th>Descrizione</th><th>Provenienza</th></tr>
{:r .}
  <tr><td>{=accountname}</td><td>{=potentialname}</td><td>{=amount}</td><td>{=closingdate}</td><td>{=nextstep}</td><td>{=probability}</td><td>{=sales_stage}</td><td>{=description}</td><td>{=leadsource}</td></tr>
{/:r}
</table>
</div>
{:e}

{/:s}



<script type="text/javascript">
$(function() {
        var currentDate = new Date()
        var day = currentDate.getDate()
        var month = currentDate.getMonth()
        var year = currentDate.getFullYear()
        var hours = currentDate.getHours()
	var minutes = currentDate.getMinutes()

        if (minutes < 10)  minutes = "0" + minutes
        if (hours < 10)  hours = "0" + hours
	$("#date").html(day + "/" + month + "/" + year + " "+ hours + ":" + minutes);
});
</script>

