{:if customerNotInDB}
<table width="50%" cellpadding="5" style="border: 1px solid gray"><tr><td><h3>{=from}</h3></td></tr> <tr><td>Spiacente, nessun dato presente.</td></tr></table>
{:else}
{:r default}
<div class="customerCard">
		{:if name}
	  	<div class='name'>{=name}
	  		{:if title}	<div class='title'>{=title} {=type}</div>  {/:if}
          	</div>
		{/:if}

		{:if company}
        		{:if name}
	     		<div class='company'> {=company}</div>
		        {:else}
		        <div class='name'> {=company}</div>
		        {/:if}
		{/:if}
	
		<div id='cont' style='width: 100%'>

		<div class='numbers tr'>
		<div class='numbers td'>
		<div class='label numbers'>Numeri lavoro</div>
		{:if workphone}
		<div class='label tr' style='clear: both'><span class='value td'><img src="{=server_address}/template/images/phone.png" title='Telefono Ufficio' alt='Telefono Ufficio'/></span> <span class='td'><a href='#' class='click2call'>{=workphone}</a> <a href='#'></a></span></div>
		{/:if}
		
		{:if fax}
	        <div class='label tr'><span class='value td'><img src="{=server_address}/template/images/fax.png" title='Fax' alt='Fax'/></span> <span class='td'><a href='#' class='click2fax'>{=fax}</a></span></div>
		{/:if}
		</div>

		<div class='numbers td' style="margin-left: 100px">
		<div class='label numbers'>Numeri personali</div>
		{:if cellphone}
        	<div class='label tr' style='clear: both'><span class='value td'><img src="{=server_address}/template/images/mobile.png" title='Cellulare' alt='Cellulare'/></span> <span class='td'><a href='#' class='click2call'>{=cellphone}</a></span></div>
		{/:if}

		
		{:if homephone}
	       <div class='label tr'><span class='value td'><img src="{=server_address}/template/images/phone.png" title='Telefono Casa' alt='Telefono Casa'/></span> <span class='td'><a href='#' class='click2call'>{=homephone}</a></a></span></div>
		{/:if}
		</div>
		</div>

  
		
		<div class='numbers tr'>
		<div class='numbers td'>
		<div class='label numbers'>Indirizzo Ufficio <span style="margin-left: 10px"><a href='http://maps.google.it/maps?q={=workcity}, {=workstreet} ({=workprovince}) - {=workpostalcode}' target='_blank'><img src='{=server_address}/template/images/map.png' title='Cerca su Google Maps'/></a></span></div>
		{:if workstreet } <div class='numbers'> <div class='address'> {=workcity}, {=workstreet} ({=workprovince}) - {=workpostalcode}</div> </div>
		{/:if}
		</div>
		
		<div class='numbers td'>
		<div class='label numbers'>Indirizzo Casa <span style="margin-left: 10px"> <a href='http://maps.google.it/maps?q={=homecity}, {=homestreet} ({=homeprovince})' target='_blank'><img src='{=server_address}/template/images/map.png' title='Cerca su Google Maps'/></a></span></div>
	        {:if homestreet }  <div class='numbers'> <div class='address'> {=homecity}, {=homestreet} ({=homeprovince}) </div> </div>
		{/:if}
		</div>
		</div>
		</div>
	       

		<div class='numbers tr'>
		<div class='numbers td'>
		{:if workemail} 
		<div class='label numbers'>Email</div>
	        <div class='numbers'> 
		        <div class='label tr' style='clear: both'><span class='value td'><img src="{=server_address}/template/images/mail.png" title='Email' alt='Email'/></span> <span class='td'><a href='mailto:{=workemail}'>{=workemail}</a></span>
			</div>  
		</div>
	        {/:if}
		</div>

		<div class='numbers td'>
	        {:if url }
		<div class='label numbers'>Sito</div>
	        <div class='numbers'>
			<div class='label tr' style='clear: both'><span class='value td'><img src="{=server_address}/template/images/web.png" title='Web' alt='Wrb'/></span> <span class='td'><a href='{=url}'>{=url}</a></span>

	        </div>
	        {/:if}
		</div>
		</div>

		</div>
</div>
{/:r}

{:s chiamate}
<div id='cdr'>
<div class='name'>Ultime chiamate</div>
<table>
<tr><th>Data</th><th>Ora</th><th>Durata</th><th>Destinazione</th></tr>
{:r .}
  <tr><td>{=date}</td><td>{=time}</td><td>{=billsec}</td><td>{=dst}</td></tr>
{/:r}
</table>
</div>
{:e}

{/:s}
{/:if}
