<div class="vcard">
<div class='logo'>
{:if name}
<img src="{=server_address}/template/images/contact.png"/>
{:else}
<img src="{=server_address}/template/images/company.png"/>
{/:if}
</div>
<div style="float: left">
	{:if name}
	  <div class='name'>{=name}
	  {:if title}	<div class='title'>{=title} {=type}</div>  {/:if}
          </div>
	{/:if}

	{:if company}
	 <div class='name'> {=company}	</div>
	{/:if}

	{:if workstreet}
	<tr>
	</tr>
	{/:if}
	
        <div class='numbers'>	
	{:if workphone}
	<div class='label tr'><span class='value td'>Tel:</span> <span class='td'><a href='#'>{=workphone}</a> <a href='#'><img class='click2call' src='{=server_address}/template/images/call-start.png'/></a></span></div>
	{/:if}
		
	{:if cellphone}
     <div class='label tr'><span class='value td'>Cell:</span> <span class='td'><a href='#'>{=cellphone}</a> <a href='#'><img class='click2call' src='{=server_address}/template/images/sms-text.png'/></a></span></div>
	{/:if}

	{:if homephone}
       <div class='label tr'><span class='value td'>TelCasa:</span> <span class='td'><a href='#'>{=homehone}</a> <a href='#'><img class='click2call' src='{=server_address}/template/images/call-start.png'/></a></span></div>
	{/:if}
		
	
	{:if fax}
       <div class='label tr'><span class='value td'>Fax:</span> <span class='td'><a href='#'>{=fax}</a> <a href='#'><img class='click2call' src='{=server_address}/template/images/call-start.png'/></a></span></div>
	{/:if}
        </div>		
  
        {:if workemail} 
        <div class='numbers'> 
        <div class='label'><span class='value'>Mail:</span> <a href='mailto:{=workemail}'>{=workemail}</a><img class='click2call' src='http://www.bcservices.org/images/e-mail_icon.jpg'/></a></div>  
        </div>
        {/:if}

        <div class='numbers'>
        {:if homestreet } <div class='address'> {=homecity}, {=homestreet} ({=homeprovince}) </div> {/:if}
	{:if workstreet } <div class='address'> {=workcity}, {=workstreet} ({=workprovince}) - {=workpostalcode}</div> {/:if}
        </div>       

       {:if url }
       <div class='numbers'>
          <span class=''>Sito:</span> <a href='{=url}'>{=url}</a>
       </div>
       {/:if}

        </div>
</div>
</div>
