[Unit]
Description=NethCTI server daemon
Wants=asterisk.service
After=asterisk.service

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/subscription
WorkingDirectory=/usr/lib/node/nethcti-server
User=asterisk
Restart=always
RestartSec=10
ExecStart=/usr/bin/scl enable rh-nodejs10 "node /usr/lib/node/nethcti-server/nethcti.js"
ExecReload=/usr/bin/scl enable rh-nodejs10 "node /usr/lib/node/nethcti-server/nethcti-cli reload"

[Install]
WantedBy=multi-user.target
