[Unit]
Description=NethCTI server daemon
Wants=asterisk.service
After=asterisk.service

[Service]
Type=simple
WorkingDirectory=/usr/lib/node/nethcti-server
User=asterisk
Restart=always
RestartSec=10
ExecStart=/usr/bin/node /usr/lib/node/nethcti-server/nethcti.js
ExecReload=/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=multi-user.target
