[Unit]
Description=NethCTI server daemon
Requires=asterisk.service
After=asterisk.service

[Service]
Type=simple
Environment=LD_LIBRARY_PATH=/opt/rh/v8314/root/usr/lib64:/opt/rh/nodejs010/root/usr/lib64
WorkingDirectory=/usr/lib/node/nethcti-server
User=asterisk
Restart=always
RestartSec=10
ExecStart=/opt/rh/nodejs010/root/usr/bin/node /usr/lib/node/nethcti-server/nethcti.js

[Install]
WantedBy=multi-user.target
