<div style='clear: both'>


<div id='cdr' class='flatTable'>
<div class='name'>Table title</div>
<table>
<tr>
   <th>First field</th>
   <th>Second field</th>
</tr>
<tr>


<% for(var i=0; i<results.length; i++){ %>
  <tr>
     <td><%= results[i].field1 %> </td>
     <td><%= results[i].field2 %> </td>
  </tr>
<% } %>

</table>
</div>

</div>
