<!-- color: red -->
<table class="ui unstackable inverted red table">
  <thead>
    <tr>
      <% for (prop in results[0]) { %>
        <th>
          <%= prop %>
        </th>
        <%  } %>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i<results.length; i++){ %>
      <tr>
        <% for (prop in results[i]) { %>
          <td>
            <%= results[i][prop] %>
          </td>
          <%  } %>
      </tr>
      <% } %>
  </tbody>
</table>
