<div style='clear: both'>

Results: <%= results.length %>

<div id='cdr' class='flatTable'>
<div class='name'>Table title</div>
<table>
<tr>
<% for (prop in results[0]) { 
       if (prop === 'server_address') continue;
%>
   <th> <%= prop %> </th>
<%  }%>
</tr>
<tr>


<% for(var i=0; i<results.length; i++){ %>
  <tr>
     <% for (prop in results[i]) { 
            if (prop === 'server_address') continue;
     %>
              <td><%= results[i][prop] %> </td>
     <%  } %>
  </tr>
<% } %>

</table>
</div>

</div>
